@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: whitesmoke;
  margin: 0;
}

.text-secondary {
  color: slategray;
}


.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

.card-body > * {
  color: white;
  opacity: 0.90;
}

.stat {
  display: inline !important;
}
